.faq {
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    text-align: center;
    color: #003161;
  }
  
  .faqList {
    max-width: 800px;
    margin: 20px auto;
  }
  
  .faqItem {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
  }
  
  .faqItem h3 {
    margin-bottom: 10px;
    color: #555;
  }
  
  .faqItem p {
    margin: 0;
    color: #777;
  }
  